#glist{
	position: relative;
	z-index: 10000000;
}
@media screen and (min-width: 1000px){
body{
    margin-bottom:1680px;
}

.FilmItem{
    float:left;
    top: 100px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
    clear:left
}
.FilmItem1{
    float:left;
    top: 100px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
}
.FilmItem2{
    float:left;
	top: 100px;
    margin: 0px 20px 50px 5px;
    left: 33%;
    position: relative; 
	
}
.FilmItem3{
    float:left;
    top: 200.5px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
	clear: left;
}
.FilmItem4{
    float:left;
    top: 200px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
}
.FilmItem5{
    float:left;
    top: 200px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
}
.FilmItem6{
    float:left;
    top: 300px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
    clear:left
}
.FilmItem7{
    float:left;
    top: 300px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
}
.FilmItem8{
    float:left;
    top: 300px;
    margin: 0px 20px 10px 5px;
    left: 33%;
    position: relative;
}


.FilmItemPart1:hover{
    box-shadow: 5px 5px 1.2em black;
}
.selectmenu{
	position: absolute;
	margin-left: 100px;
   
}
/* clear:left*/



}

@media screen and (max-width: 640px){

.FilmItem{
    float:left;
    top: 100px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem1{
    float:left;
    top: 200px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
	clear: left;
}
.FilmItem2{
    float:left;
    top: 300px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem3{
    float:left;
    top: 400px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
	clear: left;
}
.FilmItem4{
    float:left;
    top: 500px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem5{
    float:left;
    top: 600px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
	clear: left;
}
.FilmItem6{
    float:left;
    top: 700px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem7{
    float:left;
    top: 800px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
	clear: left;
}
.FilmItem8{
    float:left;
    top: 900px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
#glist{
	display: none;
	position: relative;
}
#selectmenu{
	display: none;
}

}

@media screen and (min-width: 640px) and (max-width: 999px){

.FilmItem{
    float:left;
    top: 100px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem1{
    float:left;
    top: 100px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
}
.FilmItem2{
    float:left;
    top: 200px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem3{
    float:left;
    top: 200px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
}
.FilmItem4{
    float:left;
    top: 300px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem5{
    float:left;
    top: 300px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
}
.FilmItem6{
    float:left;
    top: 400px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItem7{
    float:left;
    top: 400px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
}
.FilmItem8{
    float:left;
    top: 500px;
    margin: 0px 20px 10px 5px;
    left: 20%;
    position: relative;
    clear:left
}
.FilmItemPart1:hover{
    box-shadow: 5px 5px 1.2em black;
}
.selectmenu{
	position: absolute;
	margin-left: 100px;
   
}
#glist{
	display: none;
}

}


nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
	nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 25px 40px;
			color: #757575; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}



