/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-sep-2014, 11:35:38
    Author     : Mark
*/
.FilmItem{
    float:left;
    margin: 0px 5px 10px 5px;
}
.FilmItem:hover{
    box-shadow: 5px 5px 1.2em black;
}

.FilmItemNewLine{
    float:left;
    margin: 0px 5px 10px 5px;
	clear:left;
}
.FilmItemNewLine:hover{
    box-shadow: 5px 5px 1.2em black;
}