.NavigationImages{
    margin-bottom:50px;
}
.NImageLinkWrapper{
    display:none;
}
.ImageLinkWrapper{
    display:block;
}
.CloseImage{
    position:absolute;
    right:0;
    top:0;
}
#Content{
   float:left;
   margin-top: 800px;   
}
#FilmVandaagContent{
    float: left;
}
#MoreAboutFilms{
   float:left;
   width:400px;

}
#Top5{
    float:right;
    width: 580px;
}
#TopVijfWrapper{
    margin-left: 34%;
    margin-top: 310px;

}
#TopVijfUL{
    overflow-y:scroll;
    height:500px;
}
#slider{
    height:50px;
}

#TopVijfUL{
    margin-top:10px;
    list-style-type:none;
}
.TopVijfUlNumber{
    float:left; 
    margin-top:50%; 
}
.TopVijfUlImageLink{
    float:left;
}
@media screen and (min-width:830px){
    #TopVijfWrapper{
        position:absolute;
        float:right;
        top:0px;

    }
    #MoreAboutFilms{
       position:absolute;
       left:200px;
       top:0px;

   }
}
@media screen and (min-width:869px){
    #TopVijfWrapper{
        position:absolute;
        float:right;
        top:0px;

    }
    #MoreAboutFilms{
       position:absolute;
       left:250px;
       top:0px;

   }
}

@media screen and (min-width:1024px){
    #TopVijfWrapper{
        position:absolute;
        float:right;
        top:0px;

    }
    #MoreAboutFilms{
       position:absolute;
       left:400px;
       top:0px;

   }
}