.CloseImage{
    position:absolute;
    right:0;
    top:0;
}
#FilmVandaag{
   float:left;

   
    
}
#MoreAboutFilms{
   float:left;
   width:400px;
  
}
#TopVijfWrapper{
     float:left;
   width:400px;
}
#TopVijfUL{
    overflow-y:scroll;
    height:500px;
}
#slider{
    height:50px;
}

#TopVijfUL{
    margin-top:10px;
    list-style-type:none;
}
.TopVijfUlNumber{
    float:left; 
    margin-top:50%; 
    margin-right:10px;
}
.TopVijfUlImageLink{
    float:left;
}
@media screen and (min-width:830px){
    #TopVijfWrapper{
        position:absolute;
        right:0;
        top:0px;
   
    }
    #MoreAboutFilms{
   position:absolute;
        left:200px;
        top:0px;
  
}
}
@media screen and (min-width:869px){
    #TopVijfWrapper{
        position:absolute;
        right:0;
        top:0px;
   
    }
    #MoreAboutFilms{
   position:absolute;
        left:250px;
        top:0px;
  
}
}

@media screen and (min-width:1024px){
    #TopVijfWrapper{
        position:absolute;
        right:0;
        top:0px;
   
    }
    #MoreAboutFilms{
   position:absolute;
        left:400px;
        top:0px;
  
}
}