 .ag:before, .ag:after{
  content:"";
  display:table;
}

.ag:after{
  clear:both;
}

.ag{
  zoom:1;
}

/*-------------------------------------*/	

.form-wrapper {
    margin-top: 5px;
    margin-right: 5px;
    width: 250px;
    padding:10px;
    float:right;        
    background: #444;
    background: transparent;
    border-radius: 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.form-wrapper input {
    width: 165px;
    height: 15px;
    padding: 10px 5px;
    float: left;    
    font: bold 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 15px 0 0 15px;      
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
} 

.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 75px;
  font: bold 15px/35px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: rgb(55, 68, 59);

  border-radius: 0 15px 15px 0;      
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   

.form-wrapper button:hover{		
    background: rgb(65, 81, 70);
}	

.form-wrapper button:active,
.form-wrapper button:focus{   
    background: rgb(65, 81, 70);    
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent rgb(55, 68, 59) transparent;
    top: 10px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: rgb(65, 81, 70);
}

.form-wrapper button:focus:before{
    border-right-color: rgb(65, 81, 70);
}    

@media screen and (max-width: 640px){
.form-wrapper {
    margin-left: 40px;
	position: absolute;
	float: none;
}

    
}