body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(Images/Background.jpg);
    background-color: #FFFFF9;
    font-size: 14px;
}
@media screen and (min-width: 1000px){
@font-face {
    font-family: 'Ubuntu';
    src: url("Fonts/Ubuntu-R.ttf");
}

*{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
a:link{
    color: #444;
}
a:visited{
    color: #444;
}
a:hover{
    color: black;
    background-color: rgba(99, 88, 121,0.3);
}
a:active{
    color: #444;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(Images/Background.jpg);
    background-color: #FFFFF9;
    font-size: 14px;
}
#TopMenuBar{ 
    height: 42px;
    width: 100%;

}
.MenuItem{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin: 15px 15px 15px 15px;
    padding: 20px 5px 20px 5px;

}
#UpperMenu{
    position: absolute;
    top:20px;
    margin-left: 135px;
}

#Logo{
    height:30px;
    margin-top: 20px;
    margin-left: 15px;
    position:absolute;
}

#TopText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    height:120px;
}
img{
    max-width: 100%
}
}
@media screen and (min-width: 800px) and (max-width: 999px){
@font-face {
    font-family: 'Ubuntu';
    src: url("Fonts/Ubuntu-R.ttf");
}

*{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
a:link{
    color: #444;
}
a:visited{
    color: #444;
}
a:hover{
    color: black;
    background-color: rgba(99, 88, 121,0.3);
}
a:active{
    color: #444;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../Images/Background.jpg) auto;
    font-size: 14px;
}
#TopMenuBar{ 
    height: 42px;
    width: 100%;

}
.MenuItem{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    padding: 20px 5px 20px 5px;

}
#UpperMenu{
    position: absolute;
    top:20px;
    margin-left: 135px;
}

#Logo{
    height:30px;
    margin-top: 20px;
    margin-left: 15px;
    position:absolute;
}

#TopText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    height:120px;
}
img{
    max-width: 100%
}
#TopVijfWrapper{
		width: 800px;
		margin-left: 0%;
	}
}
@media screen and (max-width: 800px){
    a:hover{
        background-color: transparent;
    }
    body{
        font-family: 'Ubuntu', sans-serif;
        background-color: #FFFFF9;
        font-size: 12px;
    }
#TopMenuBar{ 
    height: 120px;
    width: 100%;
    
}
.MenuItem{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 4px 4px 4px 4px;
	padding: 0px 0px 0px 0px;
}
#UpperMenu{
    position:absolute;
    margin-left: 10px;
	top: 115px;
}
#Logo{
    height:40px;
    margin-top: 0px;
	margin-left: 90px;
}

#TopText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
	}
    .Container{
        margin-top: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        position: absolute;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .section1{
        margin: 0 auto;
        height: 200px;
    }
    .Txt1{
        position: absolute;
        top: 5px; 
        left: 12.5%;
        width: 75%;
        height: 453px;
        /* border: solid green 5px; */
    }
    .Break1{
        z-index: -1;
        background-color: #666666;
        width: 60%;
        height: 4px;
        margin: 0 auto;
        margin-top: 535px;
    }
    .Break2{
        background-color: #FF6600;
        width: 40%;
        height: 2px;
        margin: 0 auto;
        margin-top: 3px;
        margin-bottom: 20px;  
    }
    .ImageMobile1{
        width: 130px;
        position: absolute;
        margin-top: 120px;
        margin-left: 50%;
    }
    .Image1{
        visibility: hidden;
        position: absolute;
    }
    .section2{
        margin: 0 auto;
        height: 200px;
    }
    .Txt2{
        position: absolute;
        left: 12.5%;
        width: 75%;
        height: 130px;
        /* border: solid green 5px; */
    }
    .Image2{
        position: absolute;
        visibility: hidden;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 0%;
    }
    .Break3{
        background-color: #666666;
        width: 60%;
        height: 4px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .Break4{
        background-color: #FF6600;
        width: 40%;
        height: 2px;
        margin: 0 auto;
        margin-top: 4px;
        margin-bottom: 20px;
    }
    .section3{
        margin: 0 auto;
        height: 150px;
    }
    .Txt3{
        position: absolute;
        left: 12.5%;
        width: 75%;
        height: 140px;
        /* border: solid green 5px; */
    }
    .Image3{
        visibility: hidden;
        position: absolute;
        margin-top: 60px;
        margin-left: 70%;
    }
    .Break5{
        background-color: #666666;
        width: 60%;
        height: 4px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .Break6{
        background-color: #FF6600;
        width: 40%;
        height: 2px;
        margin: 0 auto;
        margin-top: 4px;  
        margin-bottom: 20px;
    }
    .section4{
        margin: 0 auto;
        height: 100px;
    }
    .Txt4{
        visibility: hidden;
        left: 12.5%;
        width: 75%;
        height: 453px;
        /* border: solid green 5px; */
    }
    .Image4{
        visibility: hidden;
        position: absolute;
        margin-top: 60px;
        left: 0px;
    }
    footer{
        visibility: hidden;
    }
	#TopVijfWrapper{
		display: none;
	}
	#MoreAboutFilms{
		display: none;
	}
	#FilmsVandaag{
		margin-left: 55px;
	}
	#CForm{
		display: none;
	}
	#gmap{
		width: 100%;
		height: 300px;
	}

}

@media screen and (min-width: 1020px){
    .Container{
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        position: relative;
        max-width: 1000px;
        height: auto;
        margin: 0 auto;
    }
    #kleur1{
        position: absolute;
        z-index: -1;
        height: 530px;
        width: 100%;
        background-color: rgba(171,178,200,0.3);
    }
    #kleur3{
        position: absolute;
        z-index: -1;
        margin-top: 1134px;
        height: 495px;
        width: 100%;
        background-color: rgba(99, 88, 121,0.3);
    }
    #kleur4{
        position: absolute;
        z-index: -1;
        height: 525px;
        width: 100%;
        background-color: rgba(171,178,200,0.3);
    }
    .section1{
        margin: 0 auto;
    }

    .Txt1{
        position: absolute;
        left: 0%;
        width: 50%;
        height: 453px;
        /* border: solid green 5px; */
    }
    .Break1{
        background-color: #FFFFFF;
        width: 60%;
        height: 6px;
        margin: 0 auto;
        margin-top: 135px;
    }
    .Break2{
        background-color: #3E6DB5;
        width: 40%;
        height: 6px;
        margin: 0 auto;
        margin-top: 0px;  
    }
    .ImageMobile1{
        position: absolute;
        visibility: hidden;
    }
    .Image1{
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 70%;
    }

    .section2{
        margin: 0 auto;
    }
    .Txt2{
        color: black;
        position: absolute;
        margin-top: 10px;
        right: 20px;
        width: 50%;
        height: 453px;
        /* border: solid green 5px; */
    }
    .Image2{
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 0%;
    }
    .Break3{
        background-color: #BA200B;
        width: 60%;
        height: 6px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .Break4{
        background-color: #FFFFFF;
        width: 40%;
        height: 6px;
        margin: 0 auto;
        margin-top: 4px;  
    }
    .Txt3{
        position: absolute;
        margin-top: 0px;
        margin-bottom: 60px;
        left: 0%;
        width: 50%;
        height: 453px;
        /* border: solid green 5px; */
    }
    .Image3{
        margin-top: 60px;
        margin-left: 70%;
    }
    .Break5{
        background-color: #FFFFFF;
        width: 60%;
        height: 6px;
        margin: 0 auto;
        margin-top: 60px;
    }
    .Break6{
        background-color: #BA200B;
        width: 40%;
        height: 6px;
        margin: 0 auto;
        margin-top: 0px;  
    }
    .Txt4{
        color: black;
        position: absolute;
        margin-top: 0px;
        margin-bottom: 60px;
        left: 50%;
        width: 50%;
        height: 453px;
        /* border: solid green 5px; */
    }
    .Image4{
        margin-top: 60px;
        left: 0px;
    }
}



footer{
    background-color: #EEEEEE;
    height: 42px;
    position: fixed;
    
    bottom: 0px;
    width:100%;
}
.FooterText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.footerlogo{
    margin-left: 5px;
    position: relative;
    height: 42px;
    width: auto;
    float:right;
}
.CopyTekst{
    padding: 12px 0 0 10px;
}
.FooterImages{
    margin-right: 5px;
	
}

