/* 
    Created on : 11-sep-2014, 9:58:01
    Author     : Mark Hartging, Sjoerd Eeman, Niek Guijt, Jhinenton Hooplot, Tim Nijssen
*/
@font-face {
    font-family: 'toms handwritten new';
    src: url('http://www.fontsaddict.com/fontface/toms-handwritten-new.ttf');
}

*{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
a:link{
    color: rgb(0, 136, 204);
}
a:visited{
    color: rgb(0, 136, 204);
}
a:hover{
    background-color: #CCCCCC;
}
a:active{
    color: gray;
}
#TopMenuBar{ 
    background-color: #EEEEEE;
    height: 42px;
    width: 100%;
    
}
.MenuItem{
    font-family: 'toms handwritten new', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin: 20px 20px 20px 20px;

}
#UpperMenu{
    position: fixed;
    top: 9px;
    margin-left: 135px;
}
#Search{
    display:inherit;
    margin-left: 75%;
}
.SearchInput{
    margin-top: 9px;
    float:right;
}
#logo{
    height:30px;
    margin-top: 7px;
    margin-left: 5px;
    position:absolute;
}

#TopText{
    font-family: 'toms handwritten new', sans-serif;
    font-size: 22px;
    background-color:#CCCCCC;
    height:145px;
}
#Content{
    font-family: 'toms handwritten new', sans-serif;
    font-size: 22px;
    height:300px;   
}
footer{
    background-color: #EEEEEE;
    height: 42px;
}
#FooterText{
    font-family: 'toms handwritten new', sans-serif;
    font-size: 22px;
    padding: 9px 0 0 10px;
}

