/* 
    Created on : 11-sep-2014, 9:58:01
    Author     : Mark Hartging, Sjoerd Eeman, Niek Guijt, Jhinenton Hooplot, Tim Nijssen
*/
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../../Images/Background.jpg);
    font-size: 14px;
}
@media screen and (max-width: 800px){
	@font-face {
    font-family: 'Ubuntu';
    src: url("Fonts/Ubuntu-R.ttf");
}

*{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
a:link{
    color: #444;
}
a:visited{
    color: #444;
}
a:hover{
    color: black;
    background-color: rgba(99, 88, 121,0.3);
}
a:active{
    color: #444;
}
#TopMenuBar{ 
    height: 140px;
    width: 100%;
    
}
.MenuItem{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 4px 4px 4px 4px;
}
#UpperMenu{
    position:absolute;
    margin-left: 10px;
	margin-top: 60px;
}
#Logo{
    height:40px;
    margin-top: 7px;
	margin-left: 100px;
}

#TopText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
	}
	#Content{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
	max-width: 1300px;
	position: absolute;
    height: 1000px;
	margin: auto;
	margin-bottom: 40px;
	float: center;
	
	}
	#PrideImg{
	height: 300px;
	width: 200px;
	float:left;
	clear: both;
	}
	#Info{
	margin-top: 110px;
	width: auto;
	height:300px;
	}
	#InfoAll{
	visibility: show;
	height: 400px;
	}
	#InfoMeerMinder{
	visibility: hidden;
	}
	.Details{
	position:absolute;
	float:left;
	left: 210px;
	clear:both;
	width: 150px;
	height: 150px;
	}
	.Details2{
	position:absolute;
	top:170px;
	left:210px;
	width: auto;
	}
	.Details3{
	display: inline-block;
	margin-right: 300px;
	}
	.Details4{
	position:absolute;
	float:left;
	left: 210px;
	top:95px;
	width: 200px;
	height: 150px;
	}
.Reserveerknop {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	position:absolute;
	top:310px;
	left:50px;
	clear:both;
}
.Reserveerknop:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
	#KijkWijzer
	{
	position:absolute;
	top:360px;
	left: 70px;
	clear:both;
	font-size: 35px;
	
	}
	
footer{
	visibility: hidden;
}
}

@media screen and (min-width: 1000px){
@font-face {
    font-family: 'Ubuntu';
    src: url("Fonts/Ubuntu-R.ttf");
}

*{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
a:link{
    color: #444;
}
a:visited{
    color: #444;
}
a:hover{
    color: black;
    background-color: rgba(99, 88, 121,0.3);
}
a:active{
    color: #444;
}
a:active{
    color: gray;
}
#TopMenuBar{ 
    height: 42px;
    width: 100%;
    
}
.MenuItem{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin: 15px 15px 15px 15px;
    padding: 20px 5px 20px 5px;
        
}
#UpperMenu{
    position:absolute;
    top:7px;
    margin-left: 135px;
}

#Logo{
    height:30px;
    margin-top: 7px;
    margin-left: 5px;
    position:absolute;
}

#TopText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    height:145px;
	clear: both;
	}
	#Content{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
	position: relative;
	max-width: 1300px;
    height: 1000px;
	margin: auto;
	margin-bottom: 40px;
	float: center;
	
	}
	#PrideImg{
	height: 650px;
	width: 440px;
	float:left;
	}
	#Info{
	position:absolute;
	margin-left: 480px;
	width:auto;
    float:right;
	height:500px;
	}
	#InfoMeerMinder{
	visibility: show;
	height: 400px;
	}
	#InfoAll{
	visibility: hidden;
	}
	.Details{
	position:absolute;
	float:left;
	top:720px;
	left: 30px;
	clear:both;
	width: 150px;
	height: 150px;
	}
	.Details2{
	position:absolute;
	top:600px;
	left:500px;
	clear:both;
	width: auto;
	}
	.Details3{
	display: inline-block;
	margin-right: 100px;
	}
	.Details4{
	position:absolute;
	float:left;
	left: 200px;
	top:720px;
	width: 200px;
	height: 150px;
	}
	.Reserveerknop {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	position:absolute;
	top:890px;
	left:120px;
	clear:both;
}
.Reserveerknop:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
	
	#KijkWijzer
	{
	position:absolute;
	top:660px;
	left: 120px;
	clear:both;
	font-size: 35px;
	
	}
	footer{
  width: 100%;
    
    position: fixed;
    background-color:#EEEEEE;
    bottom: 0%;
}
#FooterText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}
.footerlogo{
    margin-left: 5px;
    position: relative;
    height: 42px;
    width: auto;
    float:right;
}
#CopyTekst{
    padding: 9px 0 0 10px;
}
#FooterImages{
   margin-right: 5px;
}

}
@media screen and (min-width: 800px) and (max-width: 999px){
@font-face {
    font-family: 'Ubuntu';
    src: url("Fonts/Ubuntu-R.ttf");
}

*{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
a:link{
    color: #444;
}
a:visited{
    color: #444;
}
a:hover{
    color: black;
    background-color: rgba(99, 88, 121,0.3);
}
a:active{
    color: #444;
}
a:active{
    color: gray;
}
#TopMenuBar{ 
    height: 42px;
    width: 100%;
    
}
.MenuItem{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    padding: 20px 5px 20px 5px;
        
}
#UpperMenu{
    position:absolute;
    top:7px;
    margin-left: 135px;
}

#Logo{
    height:30px;
    margin-top: 7px;
    margin-left: 5px;
    position:absolute;
}

#TopText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    height:145px;
	clear: both;
	}
	#Content{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
	position: relative;
	max-width: 1300px;
    height: 1000px;
	margin: auto;
	margin-bottom: 40px;
	float: center;
	
	}
	#PrideImg{
	height: 433px;
	width: 293px;
	float:left;
	}
	#Info{
	position:absolute;
	margin-left: 330px;
	width:auto;
    float:right;
	height:500px;
	}
	#InfoMeerMinder{
	visibility: show;
	height: 400px;
	}
	#InfoAll{
	visibility: hidden;
	}
	.Details{
	position:absolute;
	float:left;
	top:520px;
	left: 10px;
	clear:both;
	width: 150px;
	height: 150px;
	}
	.Details2{
	position:absolute;
	top:600px;
	left:330px;
	clear:both;
	width: auto;
	}
	.Details3{
	display: inline-block;
	margin-right: 100px;
	}
	.Details4{
	position:absolute;
	float:left;
	left: 160px;
	top:520px;
	width: 100px;
	height: 150px;
	}
	.Reserveerknop {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	position:absolute;
	top:720px;
	left:60px;
	clear:both;
}
.Reserveerknop:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
	
	#KijkWijzer
	{
	position:absolute;
	top:450px;
	left: 50px;
	clear:both;
	font-size: 35px;
	
	}
	footer{
  width: 100%;
    
    position: fixed;
    background-color:#EEEEEE;
    bottom: 0%;
}
#FooterText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}
.footerlogo{
    margin-left: 5px;
    position: relative;
    height: 42px;
    width: auto;
    float:right;
}
#CopyTekst{
    padding: 9px 0 0 10px;
}
#FooterImages{
   margin-right: 5px;
}

}
