/* 
    Created on : 11-sep-2014, 9:58:01
    Author     : Mark Hartging, Sjoerd Eeman, Niek Guijt, Jhinenton Hooplot, Tim Nijssen
*/
@font-face {
    font-family: 'Ubuntu';
    src: url("Fonts/Ubuntu-R.ttf");
}

*{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}
a:link{
    color: rgb(0, 136, 204);
}
a:visited{
    color: rgb(0, 136, 204);
}
a:hover{
    background-color: #CCCCCC;
    
    
}
a:active{
    color: gray;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}
#TopMenuBar{ 
    background-color: #EEEEEE;
    height: 42px;
    width: 100%;
    
}
.MenuItem{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin: 15px 15px 15px 15px;
    padding: 20px 5px 20px 5px;
        
}
#UpperMenu{
    position:absolute;
    top:7px;
    margin-left: 135px;
}

#SearchBlock{
    margin-right:50px;
    
    
}
.SearchInput{
    float:right;
    
}
#Logo{
    height:30px;
    margin-top: 7px;
    margin-left: 5px;
    position:absolute;
}

#TopText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    background-color:#CCCCCC;
    height:145px;
}
img{
    max-width: 100%
}
@media screen and (min-width: 657px){
.Container{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    position: relative;
    max-width: 650px;
    height: 1359px;
    border: solid blue 10px;
    margin: 0 auto;
}

    .Txt1{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50%;
        height: 453px;
        border: solid green 5px;
    }
    .Image1{
        margin-top: 22%;
        margin-left: 51.2%;
    }
    .Txt2{
        position: absolute;
        bottom: 450px;
        right: 0px;
        width: 50%;
        height: 453px;
        border: solid green 5px;
    }
    .Image2{
        position: absolute;
        bottom: 44%;
        left: 0px;
    }
    .Txt3{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 50%;
        height: 453px;
        border: solid green 5px; 
    }
    .Image3{
        position: absolute;
        bottom: 22%;
		margin-left:101.7%;
    }
}
footer{
background-color: #EEEEEE;
height: 42px;
position: absolute;
margin-bottom: 0px;
width:100%;
}
#FooterText{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}
.footerlogo{
    margin-left: 5px;
    position: relative;
    height: 42px;
    width: auto;
    float:right;
}
#CopyTekst{
    padding: 9px 0 0 10px;
}
#FooterImages{
    margin-right: 5px;
}

